<h1>My Profile</h1>
<%= @user.full_name%>
<%= link_to 'Gift User', new_user_gift_path(@user)%>
<%= image_tag @user.avatar if @user.avatar.attached? %>
<%= image_tag @user.avatar.variant(resize: '500X500') if @user.avatar.attached? %>
<!-- Step 7: Update Show Page -->
<div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>

    handler = Gmaps.build('Google');
    
    handler.buildMap({ provider: {}, internal: {id: 'map' }}, function() {
    
    markers = handler.addMarkers([
    
    {
    // for now we will hardcode keep it 0 latitude and longitude
    "lat": <%= @user.latitude %>,
    
    "lng": <%= @user.longitude %>,
    
    "infowindow": "<%= @user.full_name %>'s location"
    
    }
    
    ]);
    
    handler.bounds.extendWith(markers);
    
    handler.fitMapToBounds();
    
    handler.getMap().setZoom(17);
    
    });
    
    </script>